$text-color-highlighted: #428bca;

.container {
  max-width: 800px;
  margin: 0 auto;
}

.image-markup {
	border-radius: 10px;
	border: $text-color-highlighted solid medium;
}

div.center-block {
	text-align: center;
}

header {
	color: $text-color-highlighted;
}

header>p {
	color: #46b8da;
}