$margin-top: 50px;
$text-color-highlighted: #428bca;

#sb-site {
  padding: $margin-top*1.1 0;
  margin: 0 auto;
}
.sb-slidebar {
	padding: 5px 5px 5px 5px;
	color: $text-color-highlighted;
	margin-top: $margin-top;
}

.sb-slidebar.center {
	text-align: center;
}
