.container {
  max-width: 800px;
  margin: 0 auto; }

.image-markup {
  border-radius: 10px;
  border: #428bca solid medium; }

div.center-block {
  text-align: center; }

header {
  color: #428bca; }

header > p {
  color: #46b8da; }
