<article class="alpha-div" ng-repeat="post in posts">
    <header>
        <h2 ng-bind="post.title"></h2>
        <!--<p class="lead" ng-show="{{post.header.subtittle.length}}" ng-bind="post.header.subtittle"></p>-->
    </header>

    <div ng-bind-html="post.content" data-api-post></div>
    <!--<img class="pull-right" ng-show="{{post.image.length}}" alt="A painter is colouring the site" width="260" height="198" ng-src="{{post.image}}">-->

    <dir-disqus disqus-shortname="ricardovz"
                disqus-identifier="{{ post.ID }}"
                disqus-title="{{ post.title }}"
                disqus-url="{{ post.link }}"
                ready-to-bind="{{ contentLoaded }}">
    </dir-disqus>

</article>
